#brIcon {
  width: 7em;
  margin-right: 0em;
}
#name {
  display: flex;
  float: left;
  font-family: fangsong;
}
#nameText {
  font-family: fangsong;
  margin: 0.2em;
  margin-top: 0.7em;
  font-size: 3em;
}
#navBar {
  margin-top: 2%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background: rgb(143, 141, 241);
}
.pageLink {
  margin-top: 4em;
  margin-right: 3em;
  display: flex;
  justify-content: flex-end;
  height: 20px;
}
#pageIcons {
  display: flex;
  justify-content: flex-end;
  float: right;
}
#historyIcon {
  width: 6em;
}
#historyText {
  margin: 0;
  margin-left: 0.7em;
  font-family: fangsong;
}
#portIcon {
  width: 6em;
}
#portText {
  margin: 0;
  text-align: center;
  font-family: fangsong;
}
#aboutIcon {
  width: 6em;
}
#aboutText {
  margin: 0;
  text-align: center;
  font-family: fangsong;
}
/* body {
  margin: 0;
} */

/* body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.pageLink:link,
.pageLink:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.pageLink:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pageLink:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pageLink-white {
  background-color: #fff;
  color: #777;
}

.pageLink::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.pageLink-white::after {
  background-color: #fff;
}

.pageLink:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.pageLink-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */
