#background {
  /* background-image: url("../../assets/Bojack.jpg"); */
  background-size: cover;
  /* height: 768px; */
  display: flex;
  justify-content: center;
  background-color: #9dfefe;
}
#img {
  width: 70%;
  position: fixed;
  bottom: 0px;
  z-index: -1;
}
